p{
    border: 2px solid gray;
    background-color: lightgray;
    box-shadow: 5px 5px 5px lightgray;
    border-radius: 5px;
    font-size: larger;
    text-align: justify;
}
   
}
#miami{
    width: 400px;
}
li{
    font-size: larger;
}
